<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Reset Password</h2>

      <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <div class="mb-3">
          <label class="form-label">New Password</label>
          <input 
            type="password" 
            class="form-control"
            formControlName="newPassword" 
            placeholder="New password"
            [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched"
            >
            <div class="invalid-feedback">
                Password is required
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input 
                type="password" 
                class="form-control" 
                formControlName="confirmPassword" 
                placeholder="Confirm password"
                [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched"
                >
                <div class="invalid-feedback">
                    Password mismatch
                </div>
        </div>

        <div *ngIf="message" class="alert alert-success">{{ message }}</div>
        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
        <button type="submit" class="btn btn-primary" [disabled]="submitted || form.invalid">
          {{ submitted ? 'Resetting...' : 'Reset Password' }}
        </button>
      </form>
    </div>
  </div>
</div>
